{% include 'partials/head.html' %}

<body>
  <div class="container">

    <div id="header">
      <h1 class="text-center">Registered sex offenders in California</h1>
      <!-- <h3 class="text-center">Too broad or too harsh?</h3> -->
    </div>

    <div id="big-wrapper">
      <p class="big-text">This website lets you look at data on sex offenders in California counties through various lenses: how long they have been in the registry, how old they are, what their race is, and what crime they've committed. You can use the menu below to choose different filters.</p>

      <p class="big-text">The categories are groupings by age: Minor (below 18 years), Young (19 - 39 years), Middle age (40 - 54 years), and Old (55 years and above). Ethnicities are as reported by the sex offender registry maintained by the <a href="http://www.meganslaw.ca.gov/search_main.aspx">California State Department of Justice</a>. The map shows the county-wise distribution of sex offenders, with a layer of median household income for each county. The income data comes from the <a href="http://www.census.gov/did/www/saipe/data/statecounty/data/2014.html">2014 Small Area and Income Estimates</a> of the US Census.</p>

    </div>  

    <!-- <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="intro-text text-justify">Choose a county to see the list of sex offenders in your county.</p>
      </div>
    </div> -->

    <div class="row">

      <div class="col-md-4">
        <p class="intro-text text-justify">Choose a county</p>

        <form id="user-location" action="{{url_for('results')}}" method="GET">
          <select name="county" class="form-control" id="county-name">
            <!-- <option value="all">All</option> -->
            <option value="Alameda">Alameda</option>
            <option value="Alpine">Alpine</option>
            <option value="Amador">Amador</option>
            <option value="Butte">Butte</option>
            <option value="Calaveras">Calaveras</option>
            <option value="Colusa">Colusa</option>
            <option value="Contra Costa">Contra Costa</option>
            <option value="Del Norte">Del Norte</option>
            <option value="El Dorado">El Dorado</option>
            <option value="Fresno">Fresno</option>
            <option value="Glenn">Glenn</option>
            <option value="Humboldt">Humboldt</option>
            <option value="Imperial">Imperial</option>
            <option value="Inyo">Inyo</option>
            <option value="Kern">Kern</option>
            <option value="Kings">Kings</option>
            <option value="Lake">Lake</option>
            <option value="Lassen">Lassen</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Madera">Madera</option>
            <option value="Marin">Marin</option>
            <option value="Mariposa">Mariposa</option>
            <option value="Mendocino">Mendocino</option>
            <option value="Merced">Merced</option>
            <option value="Modoc">Modoc</option>
            <option value="Mono">Mono</option>
            <option value="Monterey">Monterey</option>
            <option value="Napa">Napa</option>
            <option value="Nevada">Nevada</option>
            <option value="Orange">Orange</option>
            <option value="Placer">Placer</option>
            <option value="Plumas">Plumas</option>
            <option value="Riverside">Riverside</option>
            <option value="Sacramento">Sacramento</option>
            <option value="San Benito">San Benito</option>
            <option value="San Bernardino">San Bernardino</option>
            <option value="San Diego">San Diego</option>
            <option value="San Francisco">San Francisco</option>
            <option value="San Joaquin">San Joaquin</option>
            <option value="San Luis Obispo">San Luis Obispo</option>
            <option value="San Mateo">San Mateo</option>
            <option value="Santa Barbara">Santa Barbara</option>
            <option value="Santa Clara">Santa Clara</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Shasta">Shasta</option>
            <option value="Sierra">Sierra</option>
            <option value="Siskiyou">Siskiyou</option>
            <option value="Solano">Solano</option>
            <option value="Sonoma">Sonoma</option>
            <option value="Stanislaus">Stanislaus</option>
            <option value="Sutter">Sutter</option>
            <option value="Tehama">Tehama</option>
            <option value="Trinity">Trinity</option>
            <option value="Tulare">Tulare</option>
            <option value="Tuolumne">Tuolumne</option>
            <option value="Ventura">Ventura</option>
            <option value="Yolo">Yolo</option>
            <option value="Yuba">Yuba</option>
          </select>
  
        <!-- </form> -->

        <p class="intro-text">Choose a category</p>
        <!-- <form id="category-input"> -->
          <select name="categ-name" class="form-control select" id="categ-option">
            <option value="all">All</option>
            <option value="minor">Minor</option>
            <option value="young">Young</option>
            <option value="middle">Middle age</option>
            <option value="old">Old</option>
          </select>
          <!-- <input type="submit" id="categ-button" class="btn btn-primary" value="Show me" /> -->
          </label>

        <!-- </form> -->

        <p class="intro-text">Choose an ethnicity</p>
        <!-- <form action="" id="race-input" class="form"> -->
          <select name="ethnicity" class="form-control select" id="race-option">
            <option value="all">All</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="hispanic">Hispanic</option>
            <option value="native american">Native American</option>
            <option value="asian indian">Asian Indian</option>
            <option value="asian chinese">Asian</option>
          </select>

          <!-- <input type="submit" id="race-button" class="btn btn-primary" value="Show me" /> -->
          

          <p class="intro-text">Choose a gender</p>
        <!-- <form action="" id="race-input" class="form"> -->
          <select name="sex" class="form-control select" id="sex-option">
            <option value="all">All</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="unknown">Unknown</option>
          </select>

          <!-- <input type="submit" id="race-button" class="btn btn-primary" value="Show me" /> -->
          <input type="submit" id="form-button" class="btn btn-primary" value="Show me" />
        </form>       
      </div>

      <div class="col-md-8">
        <div id="map"></div>
      </div>
      
    </div>

  </div>
  {% include 'partials/footer.html' %}

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/ca_counties.js')}}"></script>
  <script src="{{url_for('static', filename='js/leaflet.js')}}"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="text/javascript">
    var map = L.map('map', {
      scrollWheelZoom: false,
      center: [37.753972, -119.431297],
      zoom: 6
    });

    var ca_counties = counties;
    var offenders = {{ o|tojson }};

    ca_counties.features.forEach(function(d) {
      offenders.forEach(function(c) {
        if(c.county == d.properties.name) {
          d.properties.off = c.off_rate;
        }
      });
    });

    var dataRange = d3.extent(ca_counties.features, function(d) {
      return +d.properties.off;
    });

    console.log(dataRange)

    var colorRange = ['#FFEDA0','#FEB24C','#E31A1C','#BD0026','800026'];

    var colorScale = d3.scale.quantize()
    .domain(dataRange)
    .range(colorRange);


    L.tileLayer("http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png", 
      {
        attribution: '&copy; Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
        maxZoom: 18
    }).addTo(map);

    // Add county shape with styles
    L.geoJson(ca_counties, {style: style}).addTo(map);

    // Function to style the county shapes
    function style(feature) {
      return {
          fillColor: colorScale(+feature.properties.off),
          weight: 1,
          opacity: 1,
          color: '#545454',
          fillOpacity: 0.7
      };
    }

    function getColor(d) {
      return d > 95000 ? '#800026' :
             d > 80000  ? '#BD0026' :
             d > 65000  ? '#E31A1C' :
             d > 50000  ? '#FEB24C' :
                          '#FFEDA0';
    }

    var legend = L.control({position: 'bottomleft'});

    legend.onAdd = function (map) {
      var div = L.DomUtil.create('div', 'info legend'),
          grades = [34000, 50000, 65000, 80000, 95000],
          labels = [];

      // loop through our density intervals and generate a label with a colored square for each interval
      for (var i = 0; i < grades.length; i++) {
          div.innerHTML +=
              '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' + ' $' +
              grades[i] + ' ' + (grades[i + 1] ? '&ndash;' + ' $' + grades[i + 1] + '<br>' : '+');
      }

      return div;
    };
    legend.addTo(map);

  </script>
</body>
</html>